<section class="">
    {{!-- <div class="container mt-4 ">
        <h1 class="glorius text-center">Add To Your Profile</h1>
        <hr>
    </div> --}}
    <div class="container ">
        <div class="row ">
            <div class="col mx-auto mt-2 ">
                <h1 class="glorius text-center mt-4 white-text">Edit Data</h1>
                <hr>
                <div class="bord m-auto">
                    <form action="/admin/edit-item/{{item._id}}" method="post" class="text-center pt-3" enctype="multipart/form-data">
                        <label for="name" class="form-text ">Name</label>
                        <input type="text" name="name" value="{{item.name}}" class="form-text form-area mx-auto text-center" required>

                        <label for="year" class="form-text">Year</label>
                        <input type="number" name="year" value="{{item.year}}" class="form-text form-area mx-auto text-center" style="width: 25%;" required>

                        <label for="genre" class="form-text ">Genre</label>
                        <input type="text" name="genre" value="{{item.genre}}" class="form-text form-area mx-auto text-center" required>

                        <label for="price" class="form-text ">Price</label>
                        <input type="number" name="price" value="{{item.price}}" class="form-text form-area mx-auto text-center" required>

                    {{#if item.picture}}
                        <img class="mt-2" src="{{item.picture}}" alt="" id="img-thumbnail" style="width:10em; height:15em;">
                        <label for="picture" class="form-text">Picture By Url</label>
                        <input type="url" name="picture" value="" class="form-text form-area mx-auto text-center" onchange="viewImage(event)" >
                    {{else}}
                        <img class="mt-2" src="/poster-images/{{item._id}}.png" id="img-thumbnail" alt="" style="width:10em; height:15em;">
                        <label for="poster" class="form-text">Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="" name="poster" onchange="viewImage(event)" >
                            <label class="custom-file-label mx-auto" for="customFile" style="width: 50%;" >Choose an image file</label>
                            <p class="form-text">OR</p>
                        </div>

                        <label for="" class="form-text">Picture By Url</label>
                        <input type="text" name="picture" value="" class="form-text form-area mx-auto text-center" >
                    {{/if}}
                        <label for="description" class="form-text">Description</label>
                        <textarea name="description" id="" cols="" rows="5" class="descriptionbox text-center" placeholder="Enter Description" style="font-family: 'Times New Roman', Times, serif;">{{item.description}}</textarea><br>
                        <p class="font01" style="color: red;">NB:Image Replacement Priority for URL</p>
                        <hr>
                        <button type="submit" class="font01 mx-auto btn-dark mb-3 ">Submit</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('img-thumbnail').src=URL.createObjectURL(event.target.files[0])
    }
</script>