<section>
    <div class="container">
        <div class="row">
            <h1 class="glorius text-white m-auto pt-4 "> {{#if order}}Your Orders
                {{else}}You Have'nt Ordered Anything {{/if}} </h1>
        </div>
        <hr>
        {{!-- <a href="#cancelled" class="text-center"><span class="badge badge-danger font01">Cancelled
                Orders</span></a> --}}
        {{#if order}}

        {{!-- {{#if this.orderstatus}} --}}
        <p class="text-center text-white font01" id="message">Listing Total of {{order.count}} Orders from Database</p>
        {{#each order}}
        <div class="row -auto">

            <div class="col text-center p-3 mb-2" style="border:1px solid var(--text-main); ">
                <div class="">
                    {{#if this.orderDelivered}}
                    <p class="font01 badge " style="font-size: medium; background:rgb(210, 105, 0) ;">Order Delivered</p>
                    {{else}}
                    {{#if this.orderShipped}}
                    <p class="font01 badge badge-primary" style="font-size: medium;">Order Status: Shipped</p>
                    {{else}}
                    {{#if this.orderPackaged}}
                    <p class="font01 badge " style="font-size: medium; background:rgb(143, 210, 0) ;">Order Status: Packaged</p>
                    {{else}}
                    {{#if this.orderPlaced}}
                    <p class="font01 text-white badge badge-success" style="font-size: medium;">Order Status: Placed</p>
                    {{else}}
                    <p class="font01 text-white badge badge-danger" style="font-size: medium;">Order Status: Pending</p>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                    {{/if}}
                    <br>
                    <a href="/view-order-details/{{this._id}}" style="text-decoration: none; ">
                        <p class="font01 text-white">Address:<br>
                            {{this.deliveryDetails.fullname}}<br>
                            {{this.deliveryDetails.address}}<br>{{this.deliveryDetails.landmark}}<br>
                            Pin: {{this.deliveryDetails.pincode}} </p>
                        <p class="font01 text-white">Mobile: {{this.deliveryDetails.mobile}} </p>
                        <p class="font01 text-white ">Payment Method: {{this.paymentMethod}}</p>
                        {{#if this.paymentComplete}}
                        <p class="font01 text-white">Payment Date: {{this.paymentDate}}</p>
                        <p class="font01 text-white">Payment ID: {{this.paymentId}}</p>
                        <p class="font01 text-white">Payment Complete: 
                            <span class="font01  badge badge-success">True</span></p>
                        <p class="font01 text-white">Payment Status: 
                            <span class="font01  badge badge-success">True</span></p>
                        {{/if}}
                        <p class="font01 text-white">Total Cost: <span
                                style="font-size: larger; font-weight: 700">{{this.totalAmount}}/-</span></p>
                        <p class="font01 text-white">Order Date: {{this.orderDate}}</p>
                        <p class="font01 text-white badge badge-info " style="font-size: medium;"
                        >Status: {{this.orderStatus}}</p>
                        <br>
                    </a>
                    {{#if orderShipped}}
                    <a href="/admin/complete-order/{{this._id}}"><button
                            onclick="return confirm('This Order Will be Completed')"
                            class=" ordercancelbtn font01 m-2">Complete Order</button></a>
                    {{else}}
                    {{#if orderPackaged}}
                    <a href="/admin/ship-order/{{this._id}}"><button
                            onclick="return confirm('This Order Will be Shipped')"
                            class=" ordercancelbtn font01 m-2">Ship Package</button></a>
                    {{else}}
                    <a href="/admin/pack-order/{{this._id}}"><button
                            onclick="return confirm('This Order Will be Packaged')"
                            class=" ordercancelbtn font01 m-2">Package</button></a>
                    {{/if}}
                    {{/if}}
                    <a href="/cart/"><button onclick="return confirm('Redirecting to Cart')"
                            class=" orderinfobtn font01 m-2">Need Help </button></a>
                </div>
                <a href="/view-order-details/{{this._id}}" style="text-decoration: none; ">
                    <div class="">
                        {{#each this.products}}
                        <img src="/poster-images/{{this.product._id}}.png" class="p-2"
                            style="max-width: 7rem; max-height: 6rem; " alt="">
                        {{/each}}
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
        {{#if cancelled}}
        <div class="row">
            <h1 class="glorius text-white m-auto pt-4 "> Cancelled Orders</h1>
        </div>
        <hr>
        {{/if}}
        {{#each cancelled}}
        <div class="row">
            <div class="col-12 p-3 mb-3" style="border: 2px solid var(--text-main); border-radius: 25px;">
                <div id="cancelled">
                    <p id="d1" class="font01 text-white" style="font-weight: 700;">
                        Cancellation Date: {{this.dateCancelled}} </p>
                    <p class="font01 text-white">Totalling Rs. <span
                            style="font-size: larger;font-weight: 700">{{this.totalCost}}/-</span></p>
                    <p class="font01 text-white">Order Status: <span class="badge badge-danger"
                            style="font-size: larger;"> CANCELLED!</span></p>
                    <p class="font01 text-white">Reason: <span style=" font-weight: 600">{{this.reason}}</span></p>
                    <p class="font01 text-white">Other Reason: <span
                            style="font-weight: 600">{{this.otherReason}}</span></p>
                    <p class="font01 text-white">Payment Method: <span
                            style="font-weight: 600">{{this.paymentMethod}}</span></p>
                </div>
                <hr>
                <p class="font01 text-white">*This order has been cancelled,Debited amounts have been refunded</p>
            </div>

        </div>

        {{/each}}
    </div>
    {{else}}
    <div class="container-fluid">
        <div class="m-auto p-2 text-center">
            <a class="btn btn-success font01 m-4" href="/">Shop Now !</a>
        </div>
    </div>
    {{/if}}
</section>