<header style="z-index:1; width:100%" class="">
    <nav class="navbar navbar-expand-lg navbar navbar-dark">
        {{!-- CLICK To Change Theme Static--}}
        {{!-- <div class="mode"><span class="text-white font01 mr-2 change">OFF</span></div> --}}
        {{!-- END --}}
        {{!-- NEW BTN THEME MODE --}}
        <div class="toggle">
            <button id="theme" onclick=replaceClass() hidden></button>
            <label for="theme" class="toggle-label pointer themeBtn" title="Randomize Color" >
                <iconify-icon icon="fluent:dark-theme-24-filled" width="32" height="32">
            </label>
        </div>
        {{!-- END --}}
        {{!-- <a class="navbar-brand voga" href="/">Welcome, {{#if user}}{{user.name}}{{else}}User{{/if}} </a>
        <span class="badge badge-custom font01" style="color: white;">New</span>--}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link voga" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link popup voga" {{#if user.cartItems}} onmouseenter="miniCart()" {{/if}}
                        href="/cart">Cart
                        {{#if user.cartItems}}
                        <span class="popuptext" id="myPopup">
                            <div class="col ">
                                {{#each user.cartItems}}
                                <hr>
                                <div class=" popup-item">
                                    <p class="badge font01 text-white">{{this.product.name}} <br> Quantity:
                                        {{this.quantity}}</p>

                                    <div class="float-right">
                                        <img src="/poster-images/{{this.product._id}}.png" alt=""
                                            style="width:1.5em; height:3em;" srcset="{{this.product.picture}}">
                                    </div>
                                </div>
                                {{/each}}
                                <hr>
                            </div>
                        </span>
                        {{/if}}
                        <span class="badge badge-warning font01" id="cart-count"
                            style="background-color: var(--badge-cart); color:var(--badge-text)">{{user.cartCount}}</span>
                    </a>
                </li>
                {{#if cancelled}}
                <li class="nav-item active">
                    <a class="nav-link voga" href="#cancelled">Orders <span
                            style="background-color: var(--badge-order);" class="badge badge-danger font01">x</span></a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link voga" href="/orders">Orders <span class="badge badge-warning font01"
                            id="order-count"
                            style="background-color: var(--badge-order); color: var(--badge-text);">{{user.orderCount}}</span></a>
                </li>
                {{/if}}
                {{!-- <li class="nav-item">
                    <a class="nav-link voga" href="/help">Help <span class="badge badge-primary font01"
                            id="">?</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link voga" href="/wishlist">Wishlist <span class="badge badge-warning font01"
                            id="wishlist-count"
                            style="background-color: var(--badge-wishlist); color:var(--text-secondary)">{{user.wishlistCount}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link voga" href="/help">Report a Problem</a>
                </li> --}}
                <div class="dropdown voga">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#if user}}
                        {{user.name}}
                        {{else}}
                        Account
                        {{/if}}
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{#if user}}
                        <a class="dropdown-item" href="/logout">Logout</a>
                        <a class="dropdown-item" href="/wishlist">Wishlist <span class="badge badge-warning font01"
                                id="wishlist-count"
                                style="background-color: var(--badge-wishlist); color:var(--text-secondary)">
                                {{user.wishlistCount}}</span></a>
                        <a class="dropdown-item" href="/help">Help</a>
                        <a class="dropdown-item" href="/cart">Cart <span class="badge badge-warning font01"
                                id="cart-count"
                                style="background-color: var(--badge-cart); color:var(--badge-text)">{{user.cartCount}}</span></a>
                        <a class="dropdown-item" href="/orders">Orders <span class="badge badge-warning font01"
                                id="order-count"
                                style="background-color: var(--badge-order); color: var(--badge-text);">{{user.orderCount}}</span></a>
                        {{else}}
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/signup">SignUp</a>
                        <a class="dropdown-item" href="/wishlist">Wishlist <span class="badge badge-warning font01"
                                id="wishlist-count"
                                style="background-color: var(--badge-wishlist); color:var(--text-secondary)">
                                {{user.wishlistCount}}</span></a>
                        <a class="dropdown-item" href="/help">Help</a>
                        {{/if}}
                    </div>
                </div>

            </ul>

        </div>
    </nav>
</header>