<body>
    <section id="mainbody">
        <div class="container-fluid">
            <div class=" centerX">
                {{#each products}}
                <div>
                    <div class="card cardImg" style="max-width: 18rem; width:18em;">
                        <a class="pointer" {{#if ../user}} onclick="addToWishlist('{{this._id}}')" {{else}}
                            href="/login" {{/if}}>
                            <img src="/images/love.png" class="mt-2" alt=""
                                style="width:0.8rem; right: 0; margin-right: 0.4rem; position: absolute; height:0.8rem;">
                        </a>
                        <img class="card-img-top card-image" srcset="{{this.picture}}"
                            src="/poster-images/{{this._id}}.png" alt="image">
                        <div class="card-body cardBody">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="category card-title">{{this.category}}</p>
                            <h5 class="card-title">{{this.price}}/-</h5>
                            {{#if ../user}}
                            <button onclick="refreshCart('{{this._id}}')" class="btn btn-sm btn-outline-success">
                                Add to Cart </button>
                            {{else}}
                            <a href="/login"><button class="btn btn-sm btn-outline-success">
                                Add to Cart </button></a>
                            {{/if}}
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <script>
        const category = document.querySelectorAll(".category");
        console.log("Logging category",category.innerText);
        if(!category.innerText){
            category.innerText = "Others";
        }
    </script>
</body>