<body>
    <section id="mainbody">
        <div class="container-fluid">
            <div class="centerX">
                {{#each products}}
                <div>
                    <div class="card cardImg" style="max-width: 18rem; width:18em;">
                        <a class="pointer favIcon" {{#if ../user}} onclick="addToWishlist('{{this._id}}')" {{else}}
                            href="/login" {{/if}} title="Add to Wishlist">
                            <iconify-icon icon="mdi:favourite" width="24" height="24">
                        </a>
                        <img class="card-img-top card-image" srcset="{{this.picture}}"
                            src="/poster-images/{{this._id}}.png" alt="image">
                        <div class="card-body cardBody urbanist">
                            <h5 class="card-title font-weight-bold">{{this.name}}</h5>
                            <p class="category card-title font-weight-light">{{this.category}}</p>
                            <h5 class="card-title">{{this.price}}/-</h5>
                            
                            <a {{#if ../user}} onclick="refreshCart('{{this._id}}')" {{else}} href="/login" {{/if}}
                                class="btn btn-sm btn-outline-success pointer">
                                Add to Cart 
                            </a>

                            <a class="btn btn-sm btn-outline-dark pointer" 
                            href="/view-product/{{this._id}}" >
                                View Product
                            </a>
                            
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>
    </section>
</body>