{{!-- <h1 class="voga white-text m-auto p-5 text-center"># Under Progression #</h1> --}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="voga white-text m-auto p-5 text-center">{{#if msg}}{{msg}} {{else}} Your Cart {{/if}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped font01 text-white table-borderless mt-3">
                    <thead>
                        <tr>{{#if msg}}
                            {{else}}
                            {{!-- <th scope="col">No.</th> --}}
                            <th scope="col">Name</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Image</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            {{/if}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.genre}}</td>
                            <td><img src="/poster-images/{{this._id}}.png" alt="" style="width:1.5em; height:3em;"
                                    srcset="{{this.picture}}"></td>
                            <td><a href="/admin/edit-item/{{this._id}}" class="btn btn-success font01 mr-2">+</a><a class="font01" >1</a>
                            
                            <a href="/admin/delete-item/{{this._id}}" class="btn btn-danger font01 ml-2" onclick="return confirm('Confirm Deletion for {{this.name}} ?')">-</a></td>


                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>