<section>
    <div class="container-fluid">
        <div class="row">
            <h1 class="glorius text-white m-auto pt-4 "> {{#if wishlist}}Your Wishlist 
                {{else}}There's Nothing to show here! {{/if}} </h1>
        </div><hr>
        {{!-- <a href="#cancelled" class="text-center"><span class="badge badge-danger font01">Cancelled Orders</span></a> --}}
        {{#if wishlist}}
        
        {{!-- {{#each wishlist}} --}}
        <div class="row">
                {{#each wishlist}}
                 <div class="col m-3 wishtile" style="min-width: 24rem; border-radius: 15px;">
                   
                    <div class="float-right p-3 ">
                    <img  src="/poster-images/{{this.product._id}}.png" class="p-3"
                    style="max-width: 8rem; max-height: 8rem;" alt="" >
                    </div>
                    <div class="mr-auto p-5">
                    <h4 class="font01 text-white " style="font-weight: 600;">{{this.product.name}} </h4>
                    <p class="font01 text-white p-1">{{this.product.description}} </p>
                    <p class="font01 text-white p-2" style="font-weight: 600;">Wishlisted On: <br>{{this.wishdate}} </p>
                    <p class="font01 text-white">Year: {{this.product.year}}</p>
                    <p class="font01 text-white" style="font-weight: 900;">Cost: {{this.product.price}} /-</p>
                    <p class="font01 text-white ">Payment Options: <br> COD or Online Payment</p>
                    <p class="font01 text-white">Genre: <br> {{this.product.genre}}</p>
                    <button onclick="refreshCart('{{this.product._id}}')" style="border: none;"
                    class="float-right badge badge-success font01 ml-2"><img src="/images/cart.png" alt="" 
                    style="width: 1rem; height:1rem;"></button>
                    <button onclick="delFromWishlist('{{this.product._id}}')" style="border: none;"
                    class="float-right badge badge-danger font01"><img src="/images/delIcon.png" alt="" 
                    style="width: 1rem; height:1rem;"></button>
                    {{!-- <a href="/cart/"><button onclick="return confirm('Redirecting to Cart')"
                    class="float-right orderinfobtn font01 m-2">Need Help </button></a> --}}
                    
                    </div>
                    
                </div>
                {{/each}}
                
        </div>
        {{!-- {{/each}} --}}
    </div>
        {{else}}
            <div class="container-fluid">
       
        <div class="m-auto p-2 text-center">
            <a class="btn btn-success font01 m-4" href="/">Shop Now !</a>
        </div>
    </div>
        {{/if}}
</section>